name: Test

on:
  workflow_call:
    secrets:
      auth-token:
        description: "Auth token used for live testing"
        required: true
      github-token:
        description: "Token for running Github actions"
        required: true

jobs:
  test:
    runs-on: ubuntu-latest
    container: swift:6.0
    env:
        TEST_API_KEY: ${{ secrets.auth-token }}
        MOMENTO_API_KEY: ${{ secrets.auth-token }}
    steps:
      - name: Setup repo
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.github-token }}

      - name: Build momento package
        run: swift build

      - name: Run momento package tests
        run: swift test

      - name: Build topics example
        run: cd Examples/topics && swift build

      - name: Build cache example
        run: cd Examples/cache && swift run

      - name: Build quickstart example
        run: cd Examples/quickstart && swift build
      
      - name: Run dev doc examples
        run: cd Examples/doc-example-apis && swift run

